<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:p="http://www.springframework.org/schema/p"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

<!-- this is my  bean-->

<bean id="student1" class="com.springCore.SpringCore.Student">
	<property name="studentID"><value>100</value></property>
	<property name="studentName"><value>Ashum</value></property>
	<property name="studentAddress"><value>Narayantar</value></property>
</bean>

</beans>