<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:p="http://www.springframework.org/schema/p"
xmlns:tx="http://www.springframework.org/schema/tx"
xmlns:mvc="http://www.springframework.org/schema/mvc"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc.xsd">

<tx:annotation-driven/>
<context:component-scan base-package="com.company"/>
<mvc:annotation-driven/>
<mvc:resources location="/WEB-INF/resources/" mapping="/resources/**"/>


  <mvc:interceptors>
    <mvc:interceptor>
       <mvc:mapping path="/welcome" />
       <bean class=" com.company.controller.MyInterceptor "/>
     </mvc:interceptor> 
  </mvc:interceptors>
<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" name="viewResolver">
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
</bean>
<bean id="multipartResolver" class="org.springframework.web.multipart.support.StandardServletMultipartResolver"/>

 <!-- DataSource Configuration -->
    <bean name="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/complex_form"/>
        <property name="username" value="root"/>
        <property name="password" value="ashum"/>
    </bean>
   <bean  name="factory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
     <property name="dataSource" ref="ds"></property>
     <property name="hibernateProperties">
        <props>
            <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
            <prop key="hibernate.show_sql">true</prop>
            <prop key="hibernate.hbm2ddl.auto">update</prop>
        </props>
    </property>
     
     <property name="annotatedClasses">
       <list>
          <value>com.company.model.Form</value>
          <value>com.company.model.Address</value>
       </list>
     </property>
   </bean>
    
    
  <bean class="org.springframework.orm.hibernate5.HibernateTemplate"  name="hibernateTemplate">
     <property name="sessionFactory" ref="factory" />
 </bean>

<bean class="org.springframework.orm.hibernate5.HibernateTransactionManager" name="transactionManager">
    <property name="sessionFactory" ref="factory" />
</bean>

</beans>


<!--  /WEB-INF/views/hello.jsp here .jsp is suffix and WEB-INf/views is prefix and hello is handled by controller -->








