<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:p="http://www.springframework.org/schema/p"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">
  
  
  <context:annotation-config />
<bean class="com.springCore.SpringCore.AutowiringAnnotation.Address" name="address1">
 <property name="city" value="Kathmandu" />
 <property name="country" value="Nepal"/>
</bean>
<bean class="com.springCore.SpringCore.AutowiringAnnotation.Address" name="address2">
 <property name="city" value="Delhi" />
 <property name="country" value="Bharat"/>
</bean>

<bean class="com.springCore.SpringCore.AutowiringAnnotation.Employee" name="employee">
   <property name="name" value="Ritesh"/>
   
</bean>
</beans>